<div class="col-md-6">
  <br>
  <div class="panel panel-primary">
    <div 
      class="panel-heading">Solicitudes Adicionales:
    </div>
    <div class="panel-body">
      <ul>
        <h4>
          <p>
            <li>
              <%= link_to new_modify_rotation_plan_path(code: 'T-MPR202', parent_id: @procedure), class: 'btn btn-primary btn-md list' do %>
                <i class="glyphicon glyphicon-plus"></i> Solicitud de modificación del Plan de Rotación
              <% end %>
            </li>
          </p>
          <p>
            <li>
              <%= link_to new_delay_rotation_plan_path(code: 'T-PPR203', parent_id: @procedure), class: 'btn btn-info btn-md list' do %>
                <i class="glyphicon glyphicon-plus"></i> Solicitud prorroga del Plan de Rotación
              <% end %>
            </li>
          </p>
        </h4>
      </ul>
    </div>
  </div>
</div>

