<div class="col-md-6">
  <br>
  <div class="panel panel-primary">
    <div 
      class="panel-heading">Información general:
    </div>
    <div class="panel-body">
      <h4> 
        <strong> <span>Licencias:</span>  </strong>
      </h4>
      <ol>
        <h4>
          <br>
          <li>Licencias Licencias Licencias Licencias Licencia</li>
          <li>Licencias Licencias Licencias Licencias Licencias </li>
          <li>Licencias Licencias Licencias Licencias Licencias </li>
          <li>Licencias Licencias Licencias Licencias Licencias </li>
          <li>Licencias Licencias Licencias Licencias Licenc</li>
          <li>Licencias Licencias Licencias Licencias Licencncias .</li>
          <li>Licencias Licencias Licencias Licencias Licen</li>
          <li>Licencias Licencias Licencias Licencias Lices .</li>
          <br>
        </h4>
      </ol>      
      
    </div>
  </div>
</div>