<div class="container"> 
  <div class="row">
    <div class="col-md-12"> 
      <div class="jumbotron text-center">
        <p><strong> <h1 class="text-center">Solicitud de Licencias Remuneradas y No Remuneradas </h1> </strong></p>
        <br>
        <div>
          <%= link_to new_license_path(code: 'T-SLR204'), class: 'btn btn-info btn-lg list' do %>
            <i class="glyphicon glyphicon-plus"></i> Solicitar Licencia
          <% end %>            
        </div>
        <br>    
      </div>
      <% if @procedures.present? %>
        <%= render 'procedures_list'%>
      <% end %>
    </div>
  </div>    
</div>
