<div class="col-md-6">
  <br>
  <div class="panel panel-primary">
    <div 
      class="panel-heading">Acciones disponibles:
    </div>
    <div class="panel-body">
      <ul>
        <h4>
          <% step = @procedure.steps.find_by(name: "#1")%>
          <% unless step.state != 'in_progress'%>
            <p> <li> <%= link_to "Aprobar recaudos iniciales.", show_initial_requirements_admin_procedure_path(procedure: @procedure) %> </li> </p>
          <% end %>
          
          <% @document = @procedure.documents.find_by(name: "Plan de Trabajo")%>
          <% step = @procedure.steps.find_by(name: "#2")%>
          <% unless @document.nil? or step.state != 'in_progress'%>
            <p><li> <%= link_to "Aprobar plan de trabajo.", show_document_admin_procedure_path(document_code: 'PDT', step: '#2') %> </li></p>
          <% end %>

          <% @document = @procedure.documents.find_by(code: "CDA")%>
          <% step = @procedure.steps.find_by(name: "#3")%>
          <% unless @document.nil? or step.state != 'in_progress'%>
            <p><li> <%= link_to "Aprobar constancia de antiguedad.", show_document_admin_procedure_path(document_code: 'CDA', step: '#3') %> </li></p>
          <% end %>
          
          <p> <li> Descargar constancia de aprobación.</li> </p>
          <p> <li> Completar solicitud.</li> </p>
          <p> <li> Contactar responsables.</li> </p>
        </h4>
      </ul>
    </div>
  </div>
</div>