<ul class="nav nav-tabs" role="tablist">
  <li><%= link_to t('index.listing_employees'), employees_path %></li>
  <li class="active"><%= link_to t('index.new_employee'), new_employee_path %></li>
</ul>

<%= render 'form' %>

<%= link_to t('back'), employees_path, class: 'btn btn-info' %>
