<div class="col-md-6">
  <br>
  <div class="panel panel-primary">
    <div 
      class="panel-heading">Información general:
    </div>
    <div class="panel-body">
      <h4> 
        <strong> <span>Tipos de Prórroga de Licencias:</span>  </strong>
      </h4>
      <ol>
        <h4>
          <br>
          <li>Por enfermedad, mientras dure.</li>
          <li>Para estudios, de acuerdo al límite establecido en los regímenes de sabático, Plan de Rotación y Becas.</li>
          <li>Para misiones y comisiones de la Universidad, de acuerdo a lo establecido por el Consejo Universitario.</li>
          <li>Para ejercer funciones en los Subsistemas de Educación, hasta un máximo de dos (2) años en la Educación Privada y de cinco (5) años en la Educación Pública.</li>
          <li>Para ocupar cargos relevantes en la administración pública hasta un máximo de cinco (5) años.</li>
          <li>Para cualquier otro fin, hasta por un (1) año improrrogable, siempre y cuando no hubiese tomado estas licencias en los últimos cuatro (4) años.</li>
          <br>
        </h4>
      </ol>      
      
    </div>
  </div>
</div>