<%= render 'form' %>

<div class="col-md-3 pull-left">
  <div class="btn-toolbar">
    <div class="btn-group">
      <%= link_to t('edit'), @faculty, class: 'btn btn-info'%>
      <%= link_to t('back'), faculties_path, class: 'btn btn-info' %>
    </div>
  </div>
</div>