<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <p>
      La siguiente notificación es para informarle que el usuario <%= @owner.first_name%> <%= @owner.last_name %> 
      Ha solicitado la evaluación de los requisitos iniciales de su trámite <%= @procedure_name %>,
      puede evaluar y aprobar los requisitos en el módulo de administración ingresando al sistema con su cuenta de administrador.

      Por favor tomar en cuenta los siguientes comentarios y observaciones:
        <p>
          <%= @info %> 
        </p>   
    </p>
    <p> Este correo es enviado automáticamente por el Sistema de Trámites Administrativos Docente (SISTRAMAD)</p>
    <p> No debe responder a este correo.</p>
  </body>
</html>