<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Estimado usuario: </p>
    <h1><%= @user.first_name%> <%= @user.last_name %>, </h1>  
    <p>
      El siguiente correo es para notificarle que un paso concerniente a su solicitud ha sido aprobado, para continuar con el proceso
      puede consultar el estado de su solicitud haciendo click en el siguiente enlance: 
    </p>
    <p> https://alexghoro-sistramad.herokuapp.com/procedures </p>
    <p> Este correo es enviado automaticamente por el Sistema de Tramites Administrativos Docente (SISTRAMAD)</p>
    <p> No debe responder a este correo.</p>
  </body>
</html>

