<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Estimado usuario: </p>
    <h3><%= @user.first_name%> <%= @user.last_name %>:</h3> 
    <p>
      Los recaudos iniciales de su trámite: <strong><%= @procedure_name %></strong>, fueron admitidos por el sistema y pasaran al proceso de evaluación,
      este atento a su correo, recibirá nuevas notificaciones cuando sean aprobados, también puede consultar el estado
      de su solicitud haciendo click en el siguiente enlace:
    </p>
    <h2> https://www.sistramad.uc.edu.ve </h2>

    <p> Este correo es enviado automáticamente por el Sistema de Trámites Administrativos Docente <strong>(SISTRAMAD)</strong></p>
    <p> No debe responder a este correo.</p>
  </body>
</html>
