<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      El usuario <%= @user.first_name%> <%= @user.last_name %> ha solicitado la evaluación de sus requisistos.
      puede evaluar y a aprobar requsitos en el modulo de administracion ingresando al sistema con su cuenta de administrador.
    </p>
    <p> Este correo es enviado automaticamente por el Sistema de Tramites Administrativos Docente (SISTRAMAD)</p>
    <p> No debe responder a este correo.</p>
  </body>
</html>