<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Estimado usuario: </p>
    <h1><%= @user.first_name%> <%= @user.last_name %>, </h1>  
    <p>
      Se le notifica que un paso de su solicitud <strong><%= @procedure_name %></strong>  ha sido aprobado.
      Puede consultar el estado de su trámite haciendo click en el siguiente enlace:
    </p>
    <p> https://www.sistramad.uc.edu.ve </p>
    <p> Este correo es enviado automáticamente por el Sistema de Trámites Administrativos Docente (SISTRAMAD)</p>
    <p> No debe responder a este correo.</p>
  </body>
</html>

