
        <li><!-- start notification -->
          <a href="#" class = "notilink">
            <i class="fa fa-paperclip text-yellow"></i>
            <%= noti.id %> Esto es una prueba
          </a>
        </li>
