= render 'form_edit'
.col-md-3.pull-left
  .btn-toolbar
    .btn-group
      = link_to t('edit'), @user, class: 'btn btn-info'
      = link_to t('back'), users_path, class: 'btn btn-info'
      = link_to t('roles'), assign_role_user_path, class: 'btn btn-info'
