<ul class="nav nav-tabs" role="tablist">
  <li><%= link_to 'Listing Users', users_path %></li>
  <li class="active"><%= link_to 'New user', new_user_path %></li>
</ul>

<%= render 'form' %>

<%= link_to 'Back', users_path %>
