<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="jumbotron">
        <h1>Sistema de Trámites Administrativos Docentes</h1>      
        <p>Solicitud de trámites, consulta de información y noticias.</p>
      </div>
    </div>
  </div>
</div>