<div class="container">
<div class="row">
  <div class="col-md-12 text-center">
    <div class="jumbotron">
      <h1>Sistema de Tramites Administrativos Docentes</h1>      
      <p>Automatizacion de tramites, consulta de informacion, noticias todo en un solo sistema.</p>
    </div>
  </div>
</div>
</div>
