<h1><%= t :home %></h1>
<p>Página de entrada al portal del Sistema de Trámites de la Universidad de Carabobo.</p>
<<<<<<< HEAD

=======
<h1> amatute Test 1.1 </h1>
<h2> amatute 2 </h2>
>>>>>>> amatute_dev
