= render 'form'
.col-md-3.pull-left
  .btn-toolbar
    .btn-group
      = link_to t('edit'), @reference_list, class: 'btn btn-info'
      = link_to t('back'), reference_lists_path, class: 'btn btn-info'
