%span{:class => "page#{' current btn btn-success btn-xs' if page.current?}"}
  = link_to_unless page.current?, page, url, {:remote => remote, :rel => page.next? ? 'next' : page.prev? ? 'prev' : nil, class: "btn btn-info btn-xs"}
