<div class="col-md-6">
  <br>
  <div class="panel panel-primary">
    <div 
      class="panel-heading">Solicitudes Adicionales:
    </div>
    <div class="panel-body">
      <ul>
        <h4>
          <p>
            <li>
            <%= link_to new_procedure_path(code: 'T-AS101', parent_id: @procedure), class: 'btn btn-primary btn-md list' do %>
              <i class="glyphicon glyphicon-plus"></i> Solicitud de modificación del Plan de Trabajo
            <% end %>
            </li>
          </p>
        </h4>
      </ul>
    </div>
  </div>
</div>

