<div class="col-md-6">
  <br>
  <div class="panel panel-primary">
    <div 
      class="panel-heading">Información general:
    </div>
    <div class="panel-body">
      <h4> 
        <strong> <span>Plan de Rotación:</span>  </strong>
      </h4>
      <ol>
        <h4>
          <br>
          <li>Debe ser convenido entre tres (3) Profesores, o tres (03) Auxiliares, de una misma Facultad.</li>
          <li>Debe presentarse con dos (2) meses de anticipación a su fecha de inicio.</li>
          <li>Los docentes deben ser miembros Ordinarios del personal Docente y de Investigación de esta Universidad, con categoría mínima de Profesor Asistente o Auxiliar Docente y de Investigación</li>
          <li>Los inscritos estar dispuestos a asumir una carga horaria no menor de quince horas semanales de docencia efectiva</li>
          <li>Los Instructores podrán pertenecer a un Plan de Rotación pero no podrán disfrutar del Plan hasta tanto no asciendan</li>
          <br>
        </h4>
      </ol>      
      
    </div>
  </div>
</div>