<ul class="nav nav-tabs" role="tablist">
  <li><%= link_to t('index.listing_references'), references_path %></li>
  <li class="active"><%= link_to t('index.new_reference'), new_reference_path %></li>
</ul>

<%= render 'form' %>

<%= link_to t('back'), references_path, class: 'btn btn-info' %>
