<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-info">
      <div class="panel-heading center">Reference</div>
      <div class="panel-body">
        <p>
          <strong>Name:</strong>
          <%= @reference.name %>
        </p>

        <p>
          <strong>Description:</strong>
          <%= @reference.description %>
        </p>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_reference_path(@reference) %> |
<%= link_to 'Back', references_path %>
