<div class="col-md-6">
  <br>
  <div class="panel panel-primary">
    <div 
      class="panel-heading">Acciones disponibles:
    </div>
    <div class="panel-body">
      <ul>
        <h4>
          <p> <li> <%= link_to "Consultar recaudos.", show_requirements_procedure_path(procedure: @procedure) %> </li> </p>      
        </h4>
      </ul>
    </div>
  </div>
</div>