<div class='container'>
  <div class='row text-center'>
    <h2><strong> Solicitudes Adicionales:</strong></h2>
  </div>
  <br>
  <div class='row'>
    <div class='col-md-12 text-center'>
      <div>
        <%= link_to '#', class: 'btn btn-primary btn-md list' do %>
          <i class="glyphicon glyphicon-plus"></i> Solicitud de modificación del Plan de Trabajo
        <% end %>

        <%= link_to '#', class: 'btn btn-primary btn-md list' do %>
          <i class="glyphicon glyphicon-plus"></i> Solicitud de diferimiento
        <% end %>

        <%= link_to '#', class: 'btn btn-primary btn-md list' do %>
          <i class="glyphicon glyphicon-plus"></i> Solicitud de aprobación de informe Parcial de Actividades
        <% end %>
      </div>
      <br>  
      <div>
        <%= link_to '#' , class: 'btn btn-primary btn-md list' do %>
          <i class="glyphicon glyphicon-plus"></i> Solicitud de aprobación de informe Final de Actividades
        <% end %>
      </div>
    </div>
  </div>
</div>

