<div class="col-md-6">
  <br>
  <div class="panel panel-primary">
    <div 
      class="panel-heading">Información general:
    </div>
    <div class="panel-body">
      <ul>
        <h4>
          <p> <li> Debe cargar todos los recaudos.</li> </p>
          <p> <li> La solicitud tienes que hacerse en los primeros 3 meses del año en curso. </li></p>
          <p> <li> Recibirá un correo electronico con las instrucciones a seguir una vez su solicitud haya sido evaludada.</li> </p>
        </h4>
      </ul>
      </h4>
    </div>
  </div>
</div>