<div class="col-md-6">
  <br>
  <div class="panel panel-primary">
    <div 
      class="panel-heading">Acciones disponibles:
    </div>
    <div class="panel-body">
      <ul>
        <h4>
          <p> <li> <%= link_to "Consultar recaudos.", show_requirements_procedure_path(procedure: @procedure) %> </li> </p>
          
          <% @document = @procedure.documents.find_by(name: "Plan de Trabajo")%>
          <% if @document.nil? %>
            <p><li> <%= link_to "Cargar plan de trabajo.", new_document_path(name: 'Plan de Trabajo', code: 'PDT', procedure: @procedure, step: '#2' ) %> </li></p>
          <% else %>
            <p><li> <%= link_to "Editar plan de trabajo.", edit_document_path(@document) %> </li></p>
          <% end %>
          
          <p> <li> Descargar constancia de aprobación.</li> </p>
          <p> <li> Conpletar solicitud.</li> </p>
          <p> <li> Contactar responsables.</li> </p>
        </h4>
      </ul>
    </div>
  </div>
</div>