<div class="container"> 
  <div class="row">
    <div class="col-md-12"> 
      <div class="jumbotron text-center">
        <p><strong> <h1 class="text-center">Solicitud de Año Sabático </h1> </strong></p>
        <br>
        <div>
          <p> Se entiende por Año Sabático el derecho al disfrute de un año sin obligaciones
              universitarias ordinarias, para realizar actividades relacionadas con su formación profesional,
              contenidas en el Plan de Trabajo aprobado, a que se hace acreedor todo miembro, Ordinario o
              Auxiliar, del personal Docente y de Investigación.
          </p>
        </div>
        <br>
        <div>
          <%= link_to new_procedure_path(code: 'T-AS100'), class: 'btn btn-info btn-lg list' do %>
          <i class="glyphicon glyphicon-plus"></i> Nueva solicitud
          <% end %>

          <%= link_to '#', class: 'btn btn-primary btn-lg list' do %>
          <i class="glyphicon glyphicon-plus"></i> Recursos
          <% end %>
        </div>
        <br> 
      </div>
    </div>
  </div>    
  <%= render 'procedure' %>
</div>

