<p id="notice"><%= notice %></p>

<h1>Trámite para solicitar Año Sabatico:</h1>

<p>
  <h4>Requisitos:</h4>
  <ul>
    <li>Nunc egestas diam ut elit accumsan interdum.</li>
    <li>Aenean viverra nibh id dolor blandit, eget rhoncus orci euismod.</li>
    <li>Etiam molestie nisl vel diam molestie eleifend.</li>
    <li>In convallis urna id dolor iaculis, et pellentesque dui consectetur.</li>
    <li>Etiam molestie nisl vel diam molestie eleifend.</li>
  </ul>
</p>

<%= link_to 'Solicitar Trámite', new_procedure_path %>
