@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.col-center{
  float: none;
  margin: 0 auto;
}

.center-block{
  float: none;
}

.center-login {
  margin: 20% auto;
}

.alert-notice {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  margin-bottom: 0;
}
.alert-alert {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.navbar.navbar-inicio {
  margin-bottom: 0;
}

.container.main-container {
  margin-top: 20px;
}
