<div class="col-md-12">
  <br>
  <div class="panel panel-primary">
    <div class="panel-heading"> Selecione el tipo de licencia y su duración:  </div>
    <div class="panel-body">
      <%= form_for @license_info, html: {class: 'form'}  do |f| %>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-offset-1 col-sm-5">
              <%= f.collection_radio_buttons :license_type_id, LicenseType.all, :id, :name, {checked: @license_info.license_type_id} do |cb| %>
                <% cb.label(class: "radio") {cb.radio_button(class: "radio") + cb.text} %>
              <% end %>
            </div>
            <div class="col-sm-offset-1 col-sm-5">
              <%= f.collection_radio_buttons :license_period_id, LicensePeriod.all, :id, :name, {checked: @license_info.license_period_id} do |cb| %>
                <% cb.label(class: "radio") {cb.radio_button(class: "radio") + cb.text} %>
              <% end %>
            </div>
          </div>
          <div class='text-center'>
            <%= submit_tag "Guardar", class: "btn btn-success btn-lg list" %>
          </div>
        </div>
      <%end%>
    </div>
  </div>
</div>
